<<<<<<< Updated upstream
/* titulo y cuerpo del documento */
body {
    background-color: #f8f8f8;
}

#titulo{
    font-size: -webkit-xxx-large;
}

.principal-row {
    width: 100vw;
    height: 100vh;

}

.ladoizquierdo{
    padding: 2% 10%;
    align-items: center;
}

.col-md-6.imgagendeprueba {
    background-image: url(../img/placeholderimg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 !important;
}


/* campos a llenar */

.form-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    }

#login-usuario input {
  background-color: #f8f8f8;   
  color: black;
  border: 1px solid #dfdfdf;
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0px 4px 6px rgba(161, 161, 161, 0.3);
  cursor: pointer;
}

/* Recuerdo y olvido */

.form-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px; 

}

/*Botones de ingreso*/

.btn-primary,
.btn-secondary{
  display: block;       
  margin-bottom: 15px; 
  width: 100%;
  height: 60px;
}

.btn-primary{ 
    background-color:#7e81e8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px; 
    box-shadow: 0px 4px 6px #9598f3;
    cursor: pointer;
}

.btn-secondary{   
    background-color: #f8f8f8;   
    color: black;
    border: 1px solid #dfdfdf;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 0px 4px 6px rgba(161, 161, 161, 0.3);
    cursor: pointer;
}

.btn-primary:hover {
  background-color: #5357c2;
  border: none;
  color: white;
}

.btn-secondary:hover {
    background-color: #c5c5c5;
    border: none;
    color: #818181;
}

/*¿Tenes cuenta?*/

a.Cuenta {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


=======
/* titulo y cuerpo del documento */
body {
    background-color: #f8f8f8;
}

#titulo{
    font-size: -webkit-xxx-large;
}

.principal-row {
    width: 100vw;
    height: 100vh;

}

.ladoizquierdo{
    padding: 2% 10%;
    align-items: center;
}

.col-md-6.imgagendeprueba {
    background-image: url(../img/placeholderimg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 !important;
}


/* campos a llenar */

.form-group{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    }

#login-usuario input {
  background-color: #f8f8f8;   
  color: black;
  border: 1px solid #dfdfdf;
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0px 4px 6px rgba(161, 161, 161, 0.3);
  cursor: pointer;
}

/* Recuerdo y olvido */

.form-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px; 

}

/*Botones de ingreso*/

.btn-primary,
.btn-secondary{
  display: block;       
  margin-bottom: 15px; 
  width: 100%;
  height: 60px;
}

.btn-primary{ 
    background-color:#7e81e8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px; 
    box-shadow: 0px 4px 6px #9598f3;
    cursor: pointer;
}

.btn-secondary{   
    background-color: #f8f8f8;   
    color: black;
    border: 1px solid #dfdfdf;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 0px 4px 6px rgba(161, 161, 161, 0.3);
    cursor: pointer;
}

.btn-primary:hover {
  background-color: #5357c2;
  border: none;
  color: white;
}

.btn-secondary:hover {
    background-color: #c5c5c5;
    border: none;
    color: #818181;
}

/*¿Tenes cuenta?*/

a.Cuenta {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


>>>>>>> Stashed changes
 