.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}


.rows {
  background-color: #0087F7;
  display: grid;
  padding-left: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.rows span {
  padding: 20px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 2ch;
  display: grid;
  align-items: left;
}

.table {
  margin: 10px;
  display: grid; /* Habilita el contexto de cuadrícula */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* 3 columnas de igual tamaño */
  gap: 10px; /* Espacio entre los elementos */
}

.table:nth-child(odd){
  background-color: rgb(247, 246, 246);
}

.item {
  display: grid;
  place-items: left;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 1.8ch;
  text-align: left;
}

.tableImg {
  padding: 5px;
  width: 180px;
}

.header {
  padding: 20px;
  color: lightskyblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3ch;
  display: grid;
  justify-content: left;
  align-items: center;
}


.containerGrid {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.containerCarrusel {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.square {
  margin: 10px;
  display: block;
  height: auto;
  width: 240px;
}


.containerRelacionados {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
  width: auto;
  height: 220px;
  scroll-behavior: smooth;
  border: none;
  text-decoration: none;
  margin: 10px;
}

.containerRelacionados::-webkit-scrollbar {
  display: none;
}

.imgRelacionadosDOM {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  width: auto;
  height: 180px;
}

.carrusel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: none;
  margin: 20px;
  height: 220px;
}

.expandedView {
  margin: 10px;
  height: auto;
  width: 750px;
}

.imgExpanded {
  max-width: 100%;
  height: auto;
  display: block;
  justify-content: center;
}

.descriptionImgView {
  color: white;
  padding: 20px;
}

.precioImgView {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoImg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  margin: 10px;
  width: 400px;
  height: auto;
  background-color: aliceblue;
}

/* Estilo del filtro de seleccion por precio */

section#filtros {
    padding: 15px;
    background-color: #F7F6F6;
}

/* Filtro por precio, estilo entrega 3*/

.busqueda input,
.orden select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.9rem;
}

.busqueda button {
  padding: 10px 20px;
  background: #0077cc;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.busqueda button:hover {
  background: #005fa3;
}

/* Funcion de ordenamiento, estilo de botones - entrega 3*/

.orden {
  display: flex;        
  gap: 5px; 
  flex-wrap: wrap;
}

.mayor, .menor, .relevancia {
  color: white;
  background-color: #0087F7;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.mayor:hover, .menor:hover, .relevancia:hover {
  background-color: #006ac2;
}

/* filtros a la izquierda, orden a la derecha*/

.filtros-contenedor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    align-items: baseline;
}

.busqueda,
.orden {
  display: flex;
  align-items: center;
  gap: 10px;
}


/* En pantallas chicas se apilan */
@media (max-width: 600px) {
  .filtros-contenedor {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .busqueda,
  .orden {
    flex-wrap: wrap;
  }

  .busqueda input,
  .orden select,
  .busqueda button {
    width: 100%;
  }
}